{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/destinations/destination-detail.css' %}"
/>
<script defer src="{% static 'js/destination-detail.js' %}"></script>
{% endblock %}

{% block content %}

<div class='page-container'>
  <div class='images-container'>
    <img
      class='detail-images' 
      src="{% static 'images/airplane.png' %}" 
      alt="An image of an airplane"
    >
    <img
      class='detail-images' 
      src="{% static 'images/car.png' %}" 
      alt="An image of a car"
    >
    <img 
      class='detail-images'
      src="{% static 'images/bicycle.png' %}" 
      alt="An image of a bicycle"
    >
    <img 
      class='detail-images'
      src="{% static 'images/boat.png' %}" 
      alt="An image of a boat"
    >
    <img 
      class='detail-images'
      src="{% static 'images/train.png' %}" 
      alt="An image of a train"
    >
  </div>
  <div class='page-content'>
    <section class="destination-container">
      <div class="destination-details">
        <h1>{{ destination.name }}</h1>
        <hr>
        <p><img id='pin-icon' src="{% static 'images/pin-icon.png' %}"  alt="location pin icon">{{ destination.country }}</p>
        <p>{{ destination.description }}</p>
        <p>You first visited {{ destination.name }} on {{ destination.first_visit }}</p>
        <div class="destination-actions">
          <a href="{% url 'destination-update' destination.id %}" class="details-btns">Edit</a>
          <a href="{% url 'destination-delete' destination.id %}" class="details-btns">Delete</a>
        </div>
      </div>
    </section>

    <div class="visits-container">
      <div class="subsection-title">
        <h3>Visits to {{ destination.name }}</h2>
      </div>
      <section class="visits">
        <table>
          <thead>
            <tr><th>Date</th></tr>
          </thead>
          <tbody>
            {% for visit in destination.visit_set.all %}
              <tr>
                <td>{{visit.date}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </div>

    <div class='visit-form-container'>
      <h3>Add a visit to {{ destination.name }}</h3>
      <form
        action = "{% url 'add-visit' destination.id %}"
        method="post" 
        class="subsection-content"
        autocomplete="off"
      >
        {% csrf_token %}
        {{ visit_form.as_p }}
        <button type="submit" class="submit-visit-btn">Add Visit</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}