#header-logo {
  border: 2px solid #56aeff;
  border-radius: 32px;
  display: flex;
  margin-right: 16px;
}

.header-logo-container {
  display: flex;
  color: white;
  width: 300px;
}

#header-h3 {
  color: white;
  text-decoration: none;
}

#header-h3:hover {
  color: #56aeff;
}

body {
  background-color: #b7cdda;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
}

header {
  width: 100%;
  background: #041c44;
  border-bottom: 3px solid #56aeff;
}

nav {
  margin-bottom: 10px;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav li {
  padding: 5px 8px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 16px;
}

nav a:hover {
  color: #53a9f7;
}

/* Main Content Styling */
main {
  width: 100%;
  padding: 0 10px;
}

h2 {
  font-size: 2.4rem;
  margin-top: 0;
}

.page-header {
  display: flex;
}

.page-header h1 {
  font-size: 3.6rem;
}

.page-header img {
  height: 40px;
  margin-top: 0;
  margin-left: 15px;
  align-self: center;
}

.page-content {
  font-size: 1.6rem;
}

.btn {
  font-family: "Bebas Neue", sans-serif; 
  font-weight: 600;
  font-size: 20px;
  color: white;
  align-self: flex-end;
  margin-right: 40px;
  margin-top: 16px;
  background-color: #041c44;
  border: 2px solid #56aeff;
  border-radius: 8px;
  width: 80px;
  padding: 8px;
}

.btn:hover {
  color: #56aeff;
}

hr {
  border-color: #041c44;
}

a.btn.secondary {
  text-decoration: none;
}

.btn.danger {
  width: fit-content;
}

/* Responsive Styling */
@media only screen and (min-width: 768px) {
  header {
    position: sticky;
    top: 0;
  }

  main {
    max-width: 1300px;
    min-height: calc(100vh - 53px);
  }

  .header-logo-container {
    padding-top: 3px;
    width: 300px;
  }

  .page-header h1 {
    font-size: 4.2rem;
  }

  .page-header img {
    height: 50px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .header-logo-container {
    padding-top: 6px;
    width: 300px;
    height: 35px;
  }
}
