.page-container {
  display: flex;
}

.images-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #041c44;
  height: 100vh;
}

.detail-images {
  margin: 32px 8px;
  padding: 16px;
  height: 100px;
  width: fit-content;
  border-radius: 32px;
}

.destination-container {
  margin: 16px 0 8px 16px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details-btns {
  font-family: "Bebas Neue", sans-serif; 
  font-weight: 600;
  font-size: 16px;
  color: white;
  align-self: flex-end;
  background-color: #041c44;
  border: 2px solid #56aeff;
  border-radius: 8px;
  width: 80px;
  padding: 8px;
  margin: 16px 20px 16px 0px;
  text-decoration: none;
}

.details-btns:hover {
  color: #56aeff;
}

.destination-details {
  width: 98%;
}

.destination-actions {
  margin-top: 32px;
}

.visits-container {
  margin: 8px 0 8px 16px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
}

.visit-form-container {
  margin: 16px;
}

.subsection-title {
  align-self: flex-start;
  margin-bottom: 8px;
}

.subsection-content {
  margin: 0 8px;
}

.destination-details h1 {
  margin: 15px 0 18px;
}


.destination-details p {
  margin: 16px 0 8px 0;
  font-size: 20px;
}

#pin-icon {
  margin-right: 8px;
  align-self: flex-end;
}

.visits table {
  font-size: 20px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: 0 8px;
  border: 2px solid #56aeff;
  background-color: #041c44;
  color: white;
}

.visits td {
  padding: 8px 8px;
  font-size: 20px;
}

.visits th {
  font-size: 20px;
  padding: 5px 5px 0;
  border-bottom: 2px solid #56aeff;
}

#id_date {
  font-family: "Bebas Neue", sans-serif; 
  font-size: 20px;
}

.submit-visit-btn {
  font-family: "Bebas Neue", sans-serif; 
  font-weight: 600;
  font-size: 16px;
  color: white;
  align-self: flex-end;
  background-color: #041c44;
  border: 2px solid #56aeff;
  border-radius: 8px;
  width:fit-content;
  padding: 8px;
  margin: 16px 20px 16px 0px;
}

.submit-visit-btn:hover {
  color: #56aeff;
}

@media only screen and (min-width: 768px) {
  .destination-container {
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .destination-img {
    width: 25%;
    max-width: 250px;
    margin-right: 25px;
  }

  .visits-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .visits-container > section {
    width: 45%;
  }
}


/* Need to adjust more in the container for this to display properly */
/* @media only screen and (min-width: 1024px) {
  .visits-container {
    padding: 0 40px;
  }
} */